{% extends 'base.html' %}

{% block title %} Admin - Users {% endblock %}

{% block content %}
{% if session.name %}
<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Manage Users</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Manage Users</li>
		</ol>
		<button id="btn-modal" type="button" class="btn btn-primary mb-4"><i class="fas fa-user-plus"></i> Add
			user</button>
		<!-- Modal Add User -->
		<div class="Box" id="modal" tabindex="-1" aria-labelledby="modalAddUser" aria-hidden="true">
			<form method="post" action="/admin/users/add">
				<div class="Box-header d-flex flex-justify-between">
					<h5 class="Box-title" id="exampleModalLabel">Add User</h5>
					<button id="btn-close" onclick="btnClose()" type="button" class="btn" aria-label="Close"><i
							class="fas fa-close"></i></button>
				</div>
				<div class="Box-body">
					<div class="form-group">
						<div class="form-group-header">
							<label for="inputName">Name</label>
						</div>
						<div class="form-group-body">
							<input class="form-control" id="inputName" type="text" name="name" />
						</div>
					</div>
					<div class="form-group">
						<div class="form-group-header">
							<label for="inputEmail">Email address</label>
						</div>
						<div class="form-group-body">
							<input class="form-control" id="inputEmail" type="email" name="email_address" />
						</div>
					</div>
					<div class="form-group">
						<div class="form-group-header">
							<label for="inputPassword">Password</label>
						</div>
						<div class="form-group-body">
							<input class="form-control" id="inputPassword" type="password" name="password" />
						</div>
					</div>
					<div class="form-group">
						<div class="form-group-header">
							<label for="inputUserLevel">User Level</label>
						</div>
						<div class="form-group-body">
							<select class="form-select" id="inputUserLevel" name="user_level">
								<option value="Admin">Admin</option>
								<option value="Writer">Writer</option>
							</select>
						</div>
					</div>
				</div>
				<div class="Box-footer d-flex flex-justify-between">
					<button id="btn-close" onclick="btnClose()" type="button" class="btn">Close</button>
					<input class="btn btn-primary" type="submit" value="Save changes" />
				</div>
			</form>
		</div>
		<div class="Box mb-4">
			<div class="Box-header">
				<h3 class="Box-title"><i class="fas fa-table me-1"></i>
					Users List</h3>
			</div>
			<div>
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email Address</th>
							<th>Password</th>
							<th>User Level</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td class="align-middle">{{ user[1] }}</td>
							<td class="align-middle">{{ user[2] }}</td>
							<td class="align-middle">{{ user[3] }}</td>
							<td class="align-middle">{{ user[4] }}</td>
							<td class="align-middle">
								<a type="button" class="btn btn-primary btn-sm" href="/admin/users/{{ user[0] }}"><i
										class="fas fa-pen"></i> Update</a>
								<a class="btn btn-danger btn-sm" href="/admin/users/delete/{{ user[0] }}"><i
										class="fas fa-trash"></i> Delete</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endif %}
{% endblock %}