{% extends 'base.html' %}

{% block title %} Admin - Users {% endblock %}

{% block content %}
{% if session.name %}
<main class="px-4">
	<h1 class="mt-4">Manage Articles</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Manage Articles</li>
	</ol>
	<a class="btn btn-primary mb-4" href="/admin/articles/add"><i class="fas fa-plus"></i> Add article</a>
	<div class="Box">
		{% for article in articles %}
		<div class="Box-row d-flex flex-items-center">
			<div class="mr-3">
				<img class=" rounded-3" src="{{ url_for('static', filename=article.thumbnail) }}" alt="..." height="125"
					width="125">
			</div>
			<div>
				<div class="card-body">
					<h5 class="card-title">{{ article.title }}</h5>
					<p class="card-text">{{ article.content }}</p>
					<p class="card-text"><small class="text-muted">{{ article.name }}</small></p>
					<a class="btn btn-primary btn-sm" href="/admin/articles/edit/{{ article.id }}"><i
							class="fas fa-edit"></i></a>
					<a class="btn btn-danger btn-sm" href="/admin/articles/delete/{{ article.id }}"><i
							class="fas fa-trash"></i></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endif %}
{% endblock %}