<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <main style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        <div class="Box">
            <div class="Box-header text-center">
                <h1 class="Box-title">Sign In to Admin Panel</h1>
            </div>
            <div class="Box-body">
                <form method="post" action="/admin/login">
                    <div class="form-group">
                        <div class="form-group-header">
                            <label for="inputEmail">Email address</label>
                        </div>
                        <div class="form-group-body">
                            <input class="form-control" id="inputEmail" type="email" name="email_address"
                                placeholder="name@example.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group-header">
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-group-body">
                            <input class="form-control" id="inputPassword" type="password" name="password"
                                placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-checkbox">
                        <label>
                            <input id="inputRememberPassword" type="checkbox" />
                            Remember Password
                        </label>
                    </div>
                    <div class="d-flex flex-items-center flex-justify-between">
                        <a href="password.html">Forgot Password?</a>
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </div>
                </form>
            </div>
            <div class="Box-footer text-center">
                <div>Copyright &copy; EaziPr 2022</div>
            </div>
        </div>
    </main>
</body>

</html>